* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("../assets/bg-mobile.jpg") no-repeat top center/cover;
}

body * {
    font-family: "Inter", sans-serif;
    color: #ffffff;
}

#container {
    margin: 5% auto 0;
    width: 360px;
    height: 712px;
    display: block;
}

#profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7%;
}

#profile img {
    width: 25%;
}

#profile p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

ul#links {
    list-style: none;
}

ul#links li {
   
}

ul#links li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    background: var(--highlight-color-dark-mode, rgba(255, 255, 255, 0.1));
    border: 1px solid var(--stroke-color-dark-mode, rgba(255, 255, 255, 0.50));
    border-radius: 8px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}