body {
    background: url("../assets/bg-mobile.jpg") no-repeat top center/cover;
}

body * {
    font-family: "Inter", sans-serif;
    color: #ffffff;
}

#container {
    margin: 0 auto;
    width: 360px;
    height: 712px;
    display: block;
}

#profile {
    display: flex;
    justify-content: center;
}

#profile img {
    width: 25%;
}